In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
import json
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_percentage_error,mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [2]:
datasets = sns.get_dataset_names()
print(datasets)

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'dowjones', 'exercise', 'flights', 'fmri', 'geyser', 'glue', 'healthexp', 'iris', 'mpg', 'penguins', 'planets', 'seaice', 'taxis', 'tips', 'titanic']

In [3]:
tips1 = sns.load_dataset('tips')
print(tips1)


tips1.to_csv("tips.csv", index=False)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

PermissionError: [Errno 13] Permission denied: 'tips.csv'

In [5]:
tips1.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
tips1.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [7]:
tips1.shape

(244, 7)

In [8]:
tips1.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [ ]:
tips1.describe()

In [ ]:
tips1.columns

In [ ]:
tips1.sex.value_counts()

In [ ]:
tips1.smoker.value_counts()

In [ ]:
tips1['day'].value_counts()

In [9]:
tips1['time'].value_counts()

time
Dinner    176
Lunch      68
Name: count, dtype: int64

In [10]:
tips1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [11]:
tips1.isna()

     total_bill    tip    sex  smoker    day   time   size
0         False  False  False   False  False  False  False
1         False  False  False   False  False  False  False
2         False  False  False   False  False  False  False
3         False  False  False   False  False  False  False
4         False  False  False   False  False  False  False
..          ...    ...    ...     ...    ...    ...    ...
239       False  False  False   False  False  False  False
240       False  False  False   False  False  False  False
241       False  False  False   False  False  False  False
242       False  False  False   False  False  False  False
243       False  False  False   False  False  False  False

[244 rows x 7 columns]

In [12]:
null_counts = tips1.isnull().sum()
null_counts

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [ ]:
#  no missing values are there in our dataset.

# DATA PREPROCESSING

In [13]:
tips1.shape

(244, 7)

In [14]:
tips1.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [ ]:
# tips1 = tips1.dropna()

In [15]:
tips1.shape

(244, 7)

In [16]:
tips1.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [17]:
tips1

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [18]:
x = tips1.drop('tip', axis=1)
x_numerical = x.select_dtypes(include=['int64','float64'])

In [19]:
x, x_numerical

(     total_bill     sex smoker   day    time  size
 0         16.99  Female     No   Sun  Dinner     2
 1         10.34    Male     No   Sun  Dinner     3
 2         21.01    Male     No   Sun  Dinner     3
 3         23.68    Male     No   Sun  Dinner     2
 4         24.59  Female     No   Sun  Dinner     4
 ..          ...     ...    ...   ...     ...   ...
 239       29.03    Male     No   Sat  Dinner     3
 240       27.18  Female    Yes   Sat  Dinner     2
 241       22.67    Male    Yes   Sat  Dinner     2
 242       17.82    Male     No   Sat  Dinner     2
 243       18.78  Female     No  Thur  Dinner     2

 [244 rows x 6 columns],
      total_bill  size
 0         16.99     2
 1         10.34     3
 2         21.01     3
 3         23.68     2
 4         24.59     4
 ..          ...   ...
 239       29.03     3
 240       27.18     2
 241       22.67     2
 242       17.82     2
 243       18.78     2

 [244 rows x 2 columns])

In [20]:
#  checking for outliers

Q1 = x_numerical.quantile(0.25)
Q3 = x_numerical.quantile(0.75)

IQR = Q3 - Q1

l_bound = Q1 - 1.5 * IQR
u_bound = Q1 + 1.5 * IQR

outlier_filter = ~((x_numerical < l_bound) | (x_numerical > u_bound)).any(axis=1)

tips1 = tips1[outlier_filter] # data after removing outliers


y = tips1['tip'] # taking y as a column to be predicted.
x = tips1.drop('tip', axis=1) # will drop that column from x part to avoid miscalculations.


# parting the columns to numericals and categorical
x_numerical = x.select_dtypes(include=['int64','float64'])
x_categorical = tips1.select_dtypes(include=['category'])

x.shape, x_numerical.shape, x_categorical.shape

((185, 6), (185, 2), (185, 4))

In [21]:
tips1.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [22]:
#  rescaling numerical columns

tip_scale = MinMaxScaler()

x_numerical_scaled = tip_scale.fit_transform(x_numerical)

x_numerical_scaled = pd.DataFrame(x_numerical_scaled, columns=x_numerical.columns, index = x_numerical.index)

In [23]:
 # One-hot encoding for the categorical columns
x_categorical_encoded = pd.get_dummies(x_categorical, drop_first=False, dtype=int)

In [24]:
x_categorical_encoded

,sex_Male,sex_Female,smoker_Yes,smoker_No,day_Thur,day_Fri,day_Sat,day_Sun,time_Lunch,time_Dinner
0,0,1,0,1,0,0,0,1,0,1
1,1,0,0,1,0,0,0,1,0,1
2,1,0,0,1,0,0,0,1,0,1
3,1,0,0,1,0,0,0,1,0,1
6,1,0,0,1,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...
239,1,0,0,1,0,0,1,0,0,1
240,0,1,1,0,0,0,1,0,0,1
241,1,0,1,0,0,0,1,0,0,1
242,1,0,0,1,0,0,1,0,0,1
243,0,1,0,1,1,0,0,0,0,1

In [25]:
x_categorical_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 185 entries, 0 to 243
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sex_Male     185 non-null    int32
 1   sex_Female   185 non-null    int32
 2   smoker_Yes   185 non-null    int32
 3   smoker_No    185 non-null    int32
 4   day_Thur     185 non-null    int32
 5   day_Fri      185 non-null    int32
 6   day_Sat      185 non-null    int32
 7   day_Sun      185 non-null    int32
 8   time_Lunch   185 non-null    int32
 9   time_Dinner  185 non-null    int32
dtypes: int32(10)
memory usage: 8.7 KB

In [26]:
x = pd.concat([x_numerical_scaled,x_categorical_encoded], axis=1)

In [27]:
x, x.shape

(     total_bill  size  sex_Male  sex_Female  smoker_Yes  smoker_No  day_Thur  \
 0      0.536210   0.5         0           1           0          1         0
 1      0.280046   1.0         1           0           0          1         0
 2      0.691063   1.0         1           0           0          1         0
 3      0.793914   0.5         1           0           0          1         0
 6      0.219569   0.5         1           0           0          1         0
 ..          ...   ...       ...         ...         ...        ...       ...
 239    1.000000   1.0         1           0           0          1         0
 240    0.928737   0.5         0           1           1          0         0
 241    0.755008   0.5         1           0           1          0         0
 242    0.568182   0.5         1           0           0          1         0
 243    0.605162   0.5         0           1           0          1         1

      day_Fri  day_Sat  day_Sun  time_Lunch  time_Dinner
 0          0        0        1           0            1
 1          0        0        1           0            1
 2          0        0        1           0            1
 3          0        0        1           0            1
 6          0        0        1           0            1
 ..       ...      ...      ...         ...          ...
 239        0        1        0           0            1
 240        0        1        0           0            1
 241        0        1        0           0            1
 242        0        1        0           0            1
 243        0        0        0           0            1

 [185 rows x 12 columns],
 (185, 12))

In [31]:
print(x.isnull().sum())
print(y.isnull().sum())
print(x.shape)
print(y.shape)

total_bill     0
size           0
sex_Male       0
sex_Female     0
smoker_Yes     0
smoker_No      0
day_Thur       0
day_Fri        0
day_Sat        0
day_Sun        0
time_Lunch     0
time_Dinner    0
dtype: int64
0
(185, 12)
(185,)

In [34]:
all = pd.concat([x,y], axis=1)
all

all.to_csv("tips_dataset.csv", index=False)

In [32]:
x.describe()

,total_bill,size,sex_Male,sex_Female,smoker_Yes,smoker_No,day_Thur,day_Fri,day_Sat,day_Sun,time_Lunch,time_Dinner
count,185.000000,185.000000,185.000000,185.000000,185.000000,185.000000,185.000000,185.000000,185.000000,185.000000,185.000000,185.000000
mean,0.506045,0.572973,0.605405,0.394595,0.378378,0.621622,0.281081,0.097297,0.362162,0.259459,0.313514,0.686486
std,0.202255,0.205427,0.490090,0.490090,0.486299,0.486299,0.450747,0.297166,0.481930,0.439528,0.465180,0.465180
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.362481,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.496148,0.500000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,0.638675,0.500000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
#  splitting into train and test parts.

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [ ]:
#  verification of the shape of parts

print(x_train.shape)
print(x_test.shape)
print(y_train.shape) 
print(y_test.shape)

In [ ]:
#  saving the parts into different files.

x.to_csv("tips_prediction_features.csv", index=False)
y.to_csv("tips_prediction_label.csv", index=False)

## KNN regression

In [ ]:
#  not for KNN loading the data which we have saved further.

x = pd.read_csv("tips_prediction_features.csv")
y = pd.read_csv("tips_prediction_label.csv")

In [ ]:
x.shape, y.shape

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [ ]:
k=7

In [ ]:
# instantiate the KNN regressor 

knn_reg = KNeighborsRegressor(n_neighbors=k)

In [ ]:
# fitting the model into the KNN object. 

knn_reg.fit(x_train, y_train)

In [ ]:
#  making predictions about both train and test part.
y_train_pr = knn_reg.predict(x_train)
y_test_pr = knn_reg.predict(x_test)

In [ ]:
# evaluation matrix calculations.
train_r_sq = (r2_score(y_train, y_train_pr))
train_mape = np.mean(np.abs((y_train - y_train_pr) / y_train)) * 100
test_mape = np.mean(np.abs((y_test - y_test_pr) / y_test)) * 100


print("Train R Square:", train_r_sq)
print("Train MAPE:", train_mape)
print("Test MAPE:", test_mape)

In [ ]:
#  lets do for multiple k values

def do_knn(k):
    # instantiate the KNN regressor 
    knn_reg = KNeighborsRegressor(n_neighbors=k)

    # fitting the data set to the model
    knn_reg.fit(x_train, y_train)

    #  making predictions about both train and test part.
    y_train_pr = knn_reg.predict(x_train)
    y_test_pr = knn_reg.predict(x_test)

    # evaluation matrix calculations.
    train_r_sq = (r2_score(y_train, y_train_pr))
    train_mape = np.mean(np.abs((y_train - y_train_pr) / y_train)) * 100
    test_mape = np.mean(np.abs((y_test - y_test_pr) / y_test)) * 100

    return train_r_sq, train_mape, test_mape


evaluation = []
k_list = [3,5,7,9,11,13, 15, 17, 19]

for k in k_list:
    train_r_sq, train_mape, test_mape = do_knn(k)

    res = {}
    res['k'] = k
    res['train_r_sq'] = train_r_sq
    res['train_mape'] = train_mape
    res['test_mape'] = test_mape

    evaluation.append(res)

    
print(evaluation)
    # print(k, train_r_sq, train_mape, test_mape)
evaluated_frame = pd.DataFrame(evaluation)

evaluated_frame

In [30]:
all = pd.concat([X, y], axis=1)
all

NameError: name 'X' is not defined

In [ ]:
x1 = x[['total_bill','size','sex_Male','smoker_Yes','day_Fri','day_Sat','day_Sun','time_Lunch']]

In [ ]:
x1

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x1, y, test_size=0.2, random_state=42)

In [ ]:

#  lets do for multiple k values

def do_knn(k):
    # instantiate the KNN regressor 
    knn_reg = KNeighborsRegressor(n_neighbors=k)

    # fitting the data set to the model
    knn_reg.fit(x_train, y_train)

    #  making predictions about both train and test part.
    y_train_pr = knn_reg.predict(x_train)
    y_test_pr = knn_reg.predict(x_test)

    # evaluation matrix calculations.
    train_r_sq = (r2_score(y_train, y_train_pr))
    train_mape = np.mean(np.abs((y_train - y_train_pr) / y_train)) * 100
    test_mape = np.mean(np.abs((y_test - y_test_pr) / y_test)) * 100

    return train_r_sq, train_mape, test_mape



evaluation1 = []
k_list = [3,5,7,9,11,13, 15, 17, 19]

for k in k_list:
    train_r_sq, train_mape, test_mape = do_knn(k)

    res = {}
    res['k'] = k
    res['train_r_sq'] = train_r_sq
    res['train_mape'] = train_mape
    res['test_mape'] = test_mape

    evaluation1.append(res)

    
print(evaluation1)
    # print(k, train_r_sq, train_mape, test_mape)
evaluated_frame = pd.DataFrame(evaluation1)

evaluated_frame

In [ ]:
x2 = x[['total_bill','size','sex_Male','smoker_Yes','day_Fri','day_Sat','day_Sun','time_Lunch']]

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x2, y, test_size=0.15, random_state=42)

#  lets do for multiple k values

def do_knn(k):
    # instantiate the KNN regressor 
    knn_reg = KNeighborsRegressor(n_neighbors=k)

    # fitting the data set to the model
    knn_reg.fit(x_train, y_train)

    #  making predictions about both train and test part.
    y_train_pr = knn_reg.predict(x_train)
    y_test_pr = knn_reg.predict(x_test)

    # evaluation matrix calculations.
    train_r_sq = (r2_score(y_train, y_train_pr))
    train_mape = np.mean(np.abs((y_train - y_train_pr) / y_train)) * 100
    test_mape = np.mean(np.abs((y_test - y_test_pr) / y_test)) * 100

    return train_r_sq, train_mape, test_mape



evaluation2 = []
k_list = [3,5,7,9,11,13, 15, 17, 19]

for k in k_list:
    train_r_sq, train_mape, test_mape = do_knn(k)

    res = {}
    res['k'] = k
    res['train_r_sq'] = train_r_sq
    res['train_mape'] = train_mape
    res['test_mape'] = test_mape

    evaluation2.append(res)

    
print(evaluation2)
    # print(k, train_r_sq, train_mape, test_mape)
evaluated_frame = pd.DataFrame(evaluation2)

evaluated_frame

In [4]:
x2

NameError: name 'x2' is not defined